
<div class="container">
    <p>AGREGAR EQUIPO</p>
    <div class="row">
        <div class="col-sm-6">

            <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Id</label>
                  <input type="email"  name="id" [(ngModel)]="cat.id"  class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">Nombre</label>
                  <input type="email" name="service"   [(ngModel)]="cat.service" class="form-control" id="inputPassword4">
                </div>
            </form>
            <div class="container p-3">

                <button (click)="agregar()" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
    
  <app-categoria-inicio></app-categoria-inicio>  
</div>
